@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

:root {
	--blue : #4285F4;
	--red : #EA4335;
	--yellow : #FBBC05;
	--green : #34A853;
	--fbblue: #4267B2;
}

html {
}

body {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(180deg, #FFFFFF 0%, #FF3600 100%);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.center {
	position: absolute;
	display: flex;
	background-color: white;
	filter: drop-shadow(0px 4px 20px rgb(0 0 0 / 0.25));

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 55vw;
    min-width: 600px;

    height: 75vh;
    min-height: 350px;
}

.left {
	width: 50%;
}

.left h1 {
	margin-top: 5vh;
	font-size: calc(28pt + 1vw);
	font-family: 'Droid Sans';
	font-weight: 400;
	text-align: center;
}

.left h2 {
	margin-top: 5vh;
	font-size: calc(18pt + 1vw);
	font-family: 'Droid Sans';
	font-weight: 400;
	text-align: center;
}

.left .logo {
	display: block;
	padding-top: 15px;
	margin: auto;
	min-width: 200px;
	width: 14vw;
}

.right {
	width: 50%;
	background-image: url("../images/track.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.left-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.left-container .button {
	text-align: center;
	font-family: 'Droid Sans';
	font-size: calc(16pt + 0.5vw);
	width: 65%;
	min-width: 250px;
	padding: 15px;
	margin: 2vh;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 0.25);
}

#home {
	font-family: Product Sans;
}

#home:hover {
	outline-style: solid;
	outline-color: lightgrey;
	outline-width: 2px;
	cursor: pointer;
}


