@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

:root {
	--blue : #4285F4;
	--red : #EA4335;
	--yellow : #FBBC05;
	--green : #34A853;
	--fbblue: #4267B2;
}

html {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(180deg, #FFFFFF 0%, #FF3600 100%);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

body {
}

body {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(180deg, #FFFFFF 0%, #FF3600 100%);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.center {
	position: absolute;
	display: flex;
	background-color: white;
	filter: drop-shadow(0px 4px 20px rgb(0 0 0 / 0.25));

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 55vw;
    min-width: 600px;

    height: 75vh;
    min-height: 350px;
}

.left {
	width: 50%;
}

.left h1 {
	margin-top: 5vh;
	font-size: calc(28pt + 1vw);
	font-family: 'Droid Sans';
	font-weight: 400;
	text-align: center;
}

.left h3 {
	margin-top: 1vh;
	margin-bottom: 1.5vh;
	font-size: calc(12pt + 1vw);
	font-family: 'Droid Sans';
	font-weight: 400;
	text-align: center;
}

.left .logo {
	display: block;
	padding-top: 15px;
	margin: auto;
	min-width: 200px;
	width: 14vw;
}

.right {
	width: 50%;
	background-image: url("../images/track.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.inputField {
	display: flex;
	align-items: stretch;
}

#subject {
	align-self: flex-end;
}

form .input {
	position: relative;
	border-bottom: 2px solid silver;
	margin: 30px;
	flex: 1;
}

.input input {
	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 18px;
	border: none;
	background: none;
	outline: none;
}

.input label {
    font-family: 'Droid Sans';
	position: absolute;
	top: 55%;
	left: 5px;
	color: silver;
	transform: translateY(-50%);
    font-size: calc(12pt + 1vw);
	pointer-events: none;
	transition: 0.3s;
}

.input span {
	position: absolute;
	top: 40px;
	left: 0;
	width: 0%;
	height: 3px;
	background: #FF3600;
	transition: 0.3s;
}

.input input:hover ~ label,
.input input:focus ~ label,
.input input:valid ~ label {
	top: -20px;
	color: #db2e00;
	font-weight: bold;
}

.input input:hover ~ span,
.input input:focus ~ span,
.input input:valid ~ span {
	width: 100%;
}
#attachLabel {
	top: -20px;
}

.button {
	text-align: center;
}

input[type="submit"] {
	margin-bottom: 35px;
	width: 65%;
	height: 50px;
	border: 1px solid;
	background: #FF3600;
	border-radius: 25px;
	font-size: 18px;
	color: white;
	outline: none;
	transition: 0.4s;
}

input[type="submit"]:hover {
	background: #db2e00;
	cursor: pointer;
}


