@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

:root {
	--blue : #4285F4;
	--red : #EA4335;
	--yellow : #FBBC05;
	--green : #34A853;
	--fbblue: #4267B2;
}

html {
}

body {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(180deg, #FFFFFF 0%, #FF3600 100%);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
